
<div class="container">
  <div>
      <!--
  <div id="mainImage">
    <img src="https://arcgis-web.url.edu.gt/incyt/api/HashFiles/uploads/3logos.jpg" alt="logos Incyt Url y Vrip">
  </div>
<img src="assets/incyt.jpg" alt="logo incyt" class = "rounded mx-auto d-block" >
-->

    
    <div class ="card">
      <h1>Servicio para subir archivos INCYT</h1>
      <h2>Recomendaciones:</h2>
      <p>
        1. Subir archivos con nombre sin espacios o caracteres extraños o tildes. <br />
        2. Mantener un nombre descriptivo.<br />
        3. Si el archivo que se sube es una nueva version, la version anterior
        del nombre es reemplazada.<br />
        4. Si el archivo sube exitosamente, la URL aparecera en el cuadro de abajo <br />
        5. Solo puede subir archivos menores a 100Mb <br/>
        6. Solicite la palabra secreta para poder subir sus archivos <br/>
      </p>
    </div>
  
    <br/>
    <hr>
    <div>
      <h4>Ingrese Palabra Secreta</h4>
      <input
        type="password"
        name="secreto"
        id="secreto"
        (input)="onSearchChange($event.target.value)"
        [(ngModel)]="secretHTML"
      />

      <div id="dia" *ngIf="!secret">
        <fa-icon [icon]='faban' class="fas  fa-3x" style="color:red"> </fa-icon> <br>
      </div>

      <div id="dia" *ngIf="secret">
        <fa-icon [icon]='facheckcircle' class="fas  fa-3x" style="color:green"> </fa-icon> <br>
      </div>
      

    </div>
    
    <hr>
    <br/>
    
    <form>
      <input
        id="myForm"
        type="file"
        name="file"
        class="btn btn-primary btn-block"
        hidden = ""
        [disabled] = 'secret'
        (change)="postMethod($event.target.files)"
      />
    </form>
  </div>

  <div>
    <h2>URL de archivo</h2>
    <input
      type="text"
      name="retorno"
      name="retorno"
      id="retorno"
      class="form-control"
      [(ngModel)]="retorno"
    />
  </div>
  <div>
    <button class="btn btn-primary btn-block" onclick="copyURL()">Copiar Texto</button>
  </div>
  
</div>

